.row {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.lastWeekDay {
  border-bottom: 0.2rem dotted grey;
}

.lastMonthDay {
  border-bottom: 0.2rem dashed black;
}

.lastYearDay {
  border-bottom: 0.2rem solid black;
}

.menuItem:hover {
  background: grey;
  cursor: pointer;
}

.dateCol {
  flex-basis: 6rem;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.faded {
  display: none;
}

.statusbox {
  height: 2rem;
  background: green;
}

.colElem {
  flex-basis: 10rem;
  margin-right: 5px;
}

.center {
  text-align: center;
}

.yellow {
  background: yellow;
}

.red {
  background: red;
}

.flex {
  display: flex;
}

.flex p {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

h4 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.light-red {
  background: #FFD9D7;
}

.light-yellow {
  background: lightyellow;
}

.light-green {
  background: lightgreen;
}

.determined {
  background: blue;
}

.grey {
  background: grey;
}
