<div (scrolled)="endlessScroll()" infinite-scroll>
  <div class="row">
    <p class="dateCol center">Datum</p>
    <p (click)="setActiveParticipator(participator)" *ngFor="let participator of participators"
       [class.faded]="activeParticipator && activeParticipator !== participator"
       [class.grey]="participator === activeParticipator" class="colElem center menuItem">{{participator}}</p>
  </div>

  <div *ngFor="let day of days" [class.determined]="isDetermined(day.date)" [class.light-green]="day.isFullGreen()"
       [class.lastMonthDay]="isLastDayOfMonth(day)" [class.lastWeekDay]="day.date.getDay() === 0"
       [class.lastYearDay]="day.date.getDate() === 31 && day.date.getMonth() === 11"
       [class.light-red]="!day.isMaxOneRed()" [class.light-yellow]="day.isMaxOneRed()" class="row">
    <div class="dateCol center">
      <p>{{day.date.getDate()}}.{{day.date.getMonth() + 1}}.{{day.date.getFullYear()}}</p>
      <p class="center">{{dayText(day.date.getDay())}}</p>
    </div>
    <div (click)="switchEntry(participator, day)" *ngFor="let participator of participators"
         [class.faded]="activeParticipator && activeParticipator !== participator"
         [class.red]="day.red.includes(participator)" [class.yellow]="day.yellow.includes(participator)"
         class="statusbox colElem">
    </div>
  </div>
</div>
